<div class="bartender-container">
		<div class="right-bubble">
			<div class="right-bubble-point"></div>
		</div>
		<div class="left-bartender">
			<img class="bartender-img" src="/images/barkeep.png"  >
		</div>	
</div>
	<div class="div-line"></div>





<div class="container-fluid emotion-button-group">
		  	<% @emotions.each do |emotion| %>
		  		<div class="emotion-button">
			
		 			<%= link_to emotion.name, "/emotions/#{emotion.id}" %>
		  		</div>
		  	<% end %>

</div>




