<div class="bartender-container">
		<p class="right-bubble type-anon-pro">
			<div class="right-bubble-point"></div>
		</p>
		<div class="left-bartender">
			<img class="bartender-img" src="/images/barkeep.png"  >
		</div>	
		<div class="div-line"></div>
</div>






<div class="container-fluid emotion-button-group">
		  	<% @emotions.each do |emotion| %>
		  		<div class="emotion-button">
					&mdash; <br>
		 			<%= link_to emotion.name, "/emotions/#{emotion.id}" %><br>
		 			&mdash;
		  		</div>
		  	<% end %>

</div>




