<div class="container-fluid">
	<h1> Welcome to the Bar </h1>

	<h2> All the emotions </h2>
	<% @emotions.each do |emotion| %>
		<div>
				
			<%= link_to emotion.name, "/emotions/#{emotion.id}" %>
		</div>
	<% end %>
</div>
