
<h1 class="emotions-font-h1"> Welcome to the Bar! </h1>

<div class="container-fluid bartender-container">
		<div class="click-div">
			<span class="click-span"> Click Me! </span>
		</div>
		<div class="left-bartender">
			<img class="bartender-img" src="/images/bartender.png"  data-toggle="popover" data-placement="right" data-content="Hello, my name is Tobi! I will be your personal bartender for today. Select one of the options below, and I'll serve just the drink for you!">
		</div>
		<div class="right-bartender"> 

		</div>
</div>


<div class="bottom-bubble"> </div>



