
<h1 class="emotions-font"> Welcome to the Bar! </h1>

<div class="container-fluid bartender-container">
		<div class="left-bartender">
			<img class="bartender-img" src="/images/bartender.png"  >
		</div>
		<div class="right-bubble">
			<div class="right-bubble-point"></div>
		</div>
</div>


<h2 class="emotions-font"> How are you feeling? </h2>


<div class="container-fluid emotion-button-group">
		  	<% @emotions.each do |emotion| %>
		  		<div class="emotion-button">
			
		 			<%= link_to emotion.name, "/emotions/#{emotion.id}" %>
		  		</div>
		  	<% end %>

</div>




