<div class="shaker-overlay">
	<div id="overlay">
		<div id="bounce" class="bounce">
			<img id="shaker-img" src="/images/shaker.png">
			<div class="shaker-div">Click to reveal your drink! Cheers!</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<h1 class="emotions-font larger-font"> <%= @drink.name %></h1>
	<div class="animation">
		<%= image_tag @drink.image, class: "drink-image" %>
	</div>
</div>

<div class="container-fluid recipe-button-group">

	  		<div class="recipe-button">
				See Recipe
	  		</div>

	  		<div class="recipe-button">
				Save Drink
	  		</div>
	  
</div>	
