<div class="container-fluid">
	<div class="drink-font">
		<h1 > You chose: <%= @emotion.name %> </h1>
		<h2>Here's your drink! </h2>
	</div>


	<div>
		<h2 class="drink-font"> <%= @drink.name %></h2>
		<%= image_tag @drink.image, class: "drink-image" %>
	</div>		



</div>

