<div class="container-fluid">
	<h1> See the drink </h1>

	<h2> Emotion Name</h2>

		<div>
			<%= @emotion.name %>
		</div>


		
	<h2> Emotion Drink</h2>

		<div>
			<%= @drink.name %>
		</div>
		

</div>

