<div class="container-fluid">	

	<h1>Testing YouTube 1, 2, 3... <h1>

	<pre id="response"></pre>

	<h2 id="query">Hot Toddy</h2>

	<div id="video-info"></div>

	<div class="item">
	    <h2>{{title}}</h2>
	    <iframe class="video w100" width="640" height="360" src="//www.youtube.com/embed/WXrw2oF3VDI" frameborder="0" allowfullscreen></iframe>
	</div>
	
</div>