<div class="container-fluid">
	<h1 class="emotions-font larger-font type-bebas"> <%= @drink.name %></h1>
	<div class="animation">
		<%= image_tag @drink.image, class: "drink-image" %>
	</div>
</div>

<div id="recipe-container">
	    <div class="left-ingredients">
	                <h2 class="type-news-cycle"> INGREDIENTS: </h2>
	 
	                    <% @drink.ingredients.each do |i| %>
	                       <p class="type-anon-pro"><%= i %></p>
	                        <% end %>
	                
	    </div>
	    <div class="right-instructions">

	            <h2 class="type-news-cycle"> INSTRUCTIONS: </h2>
	                    <p class="type-anon-pro"> <%= @drink.instructions %></p>
	    </div>
</div>