<div class="fav-head-font">
  	<h2 class="user-space uppercase type-news-cycle">Welcome, <%= @user.name %></h2>


	<div>
	<%= button_to "MAKE A NEW DRINK", emotions_path, method: "get",  class: "make-drink-btn type-bebas"  %>
	</div>
</div>
<br><br>

<div class="div-line"></div>


<div class="container-fluid">


	<h1 class="fav-head-font uppercase type-bebas-headline">Favorite Drinks </h1>
    <div class="fav-drink-container">
        <% @favorites.each do |favorite| %>
            <div class="fav-drinks">

                <div class="fav-img">
                    <%= link_to(image_tag("#{favorite.image}", class: "fav-drink-image"), "/drinks/#{favorite.id}")%>
                    <h2> <%= link_to favorite.name, "/drinks/#{favorite.id}", class: "type-bebas fav-name-font" %></h2>
                </div>
            </div>

        <% end %>
    </div>


</div>