<div class="page-header fav-head-font">
  	<h1>Welcome, <%= @user.name %>!</h1>


	<div>
	<%= button_to "Make a New Drink", emotions_path, method: "get",  class: "btn btn-default"  %>
	</div>
</div>

<div class="container-fluid">


	<h2 class="fav-head-font">Here Are Your Favorite Drinks </h2>
	<div class="drinks-container">
		<% @favorites.each do |favorite| %>
			<div class="drink-container">
				<div class="fav-img">
					<%= image_tag favorite.image, class: "fav-drink-image" %>
				</div>
				<div class="fav-name">

					<%= link_to favorite.name, "/drinks/#{favorite.id}", class: "fav-name-font" %>
				</div>
				
			</div>
		<% end %>
	</div>


</div>