<div class="container-fluid splash-font">


	<h1 class="splash-font-h1">
		Bartend.Me
	</h1>

	<div class="splash-center">
		<h4>Say hello to your new personal bartender! </h4>
	</div>

	<div>
		<div class="splash-img-left">
			<img src="/images/all-drinks.png" class="splash-img">
		</div>
		<div class="splash-img-right">
			<img src="/images/all-drinks.png" class="splash-img">
		</div>
	</div>

</div>


<div class="container-fluid splash-font">
	<div class="splash-login-area">
		<div class="login-left">
			<div class="login-left-content">
				Not a regular?
			</div>
		</div>

		<div class="login-right">
			<div class="login-right-content">
				Returning member?
			</right>
		</div>
	</div>
</div>

<div style="clear: both;"></div>
