<div class="splash-center">

		<img src="/images/logo.png" class="logo-img"> 
		<h2 class="type-news-cycle neg-margin">&mdash; YOUR NEW PERSONAL BARTENDER &mdash; </h2>

</div>

<div class="container-fluid type-bebas get-started">
	<h2><%= link_to "GET STARTED", sign_in_path, method: "get"%></h2>
</div>



<div class="container-fluid splash-login-area">
	<div>
		<div class="splash-img-left">
			<img src="/images/all-drinks.png" class="splash-img">
		</div>
		<div class="splash-img-right">
			<img src="/images/all-drinks.png" class="splash-img">
		</div>
	</div>

</div>




<div style="clear: both;"></div>
