/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

body {
	padding-top:40px;
	background-color: #655341;
  font-family: 'Open Sans', sans-serif;
}



/******* START Transparent Button Code  ********/

.btn-button-name, .btn-button-name:link, .btn-button-name:visited {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 2px solid white;
}
.btn-button-name:active, .btn-button-name:hover {
    background-color: #801919;
    color: #ffffff
}

.btn-button-name.btn-default {
    border: 3px solid white;
}
.btn-button-name.btn-sm {
    border: 2px solid white;
    margin-top: 8px;
    margin-right: 5px;
}  
.btn-button-name.btn-xs {
    border: 1px solid white;
}  

/******* END Transparent Button Code  ********/


/******* START Navbar Code  ********/

.navbar-default {
  background-color: #4a0000;
  border-color: #6f160d;
}
.navbar-default .navbar-brand {
  color: #f8f9f9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffcccd;
}
.navbar-default .navbar-text {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffcccd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffcccd;
  background-color: #6f160d;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffcccd;
  background-color: #6f160d;
}
.navbar-default .navbar-toggle {
  border-color: #6f160d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #6f160d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8f9f9;
}
.navbar-default .navbar-link {
  color: #f8f9f9;
}
.navbar-default .navbar-link:hover {
  color: #ffcccd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffcccd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffcccd;
    background-color: #6f160d;
  }
}

/******* END Navbar Code  ********/



/******* START Drink Code  ********/
.drink-font {
  text-align: center;
}

.drink-image {
  width: 30%;
}

.drink-section {
  text-align: center;
}

.ingredient-instructions-table {
  background-color: #a8a8a8;
  vertical-align: text-top;
  border: 2px solid black;
}

.drink-ingredients-section {
 padding: 20px; 
 vertical-align: text-top;
 text-align: center;
 border: 2px solid black;
 
}

.drink-instructions-section {
 padding: 20px;
 vertical-align: text-top;
 text-align: center;
 border: 2px solid black;


}

.drink-td {
  width: 50%;

}

.instruction-ingredients {
  text-align: center;
  display:block;

}

/* Start of Column CSS */
#container2 {
  clear:left;
  float:left;
  width:100%;
  overflow:hidden;
  background:#ffa7a7; /* column 2 background colour */
}
#container1 {
  float:left;
  width:100%;
  position:relative;
  right:50%;
  background:#fff689; /* column 1 background colour */
}
#col1 {
  float:left;
  width:46%;
  position:relative;
  left:52%;
  overflow:hidden;
}
#col2 {
  float:left;
  width:46%;
  position:relative;
  left:56%;
  overflow:hidden;
}

/******* END Drink Code  ********/




