/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

body {
	padding-top:40px;
	background-color: #655341;
}



/******* START Transparent Button Code  ********/

.btn-button-name, .btn-button-name:link, .btn-button-name:visited {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 2px solid white;
}
.btn-button-name:active, .btn-button-name:hover {
    background-color: #801919;
    color: #ffffff
}

.btn-button-name.btn-default {
    border: 3px solid white;
}
.btn-button-name.btn-sm {
    border: 2px solid white;
    margin-top: 8px;
}  
.btn-button-name.btn-xs {
    border: 1px solid white;
}  

/******* END Transparent Button Code  ********/


/******* START Navbar Code  ********/

.navbar-default {
  background-color: #4a0000;
  border-color: #6f160d;
}
.navbar-default .navbar-brand {
  color: #f8f9f9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffcccd;
}
.navbar-default .navbar-text {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffcccd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffcccd;
  background-color: #6f160d;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffcccd;
  background-color: #6f160d;
}
.navbar-default .navbar-toggle {
  border-color: #6f160d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #6f160d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8f9f9;
}
.navbar-default .navbar-link {
  color: #f8f9f9;
}
.navbar-default .navbar-link:hover {
  color: #ffcccd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffcccd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffcccd;
    background-color: #6f160d;
  }
}

/******* END Navbar Code  ********/



/******* START Bar Code  ********/
.bartender-img {
	max-width: 70%;
	max-height: 100%;
	float: right;
	padding-right: 80px;
}

.bar-font {
  text-align: center;
  color: #FFEBCD;
}

.emotion-font {
  text-align: center;
  color: #FFFFFF;
}

.emotion-section {
  background-color: #4d4d4d;
  text-align: center;
  padding: 50px;

}



.bubble-font {
	color: dark gray;
	font-size: 20px;
	font-family: helvetica;
	text-align: center;
	margin: 50px;
}

.bubble 
{
vertical-align: text-top;
position: relative;
width: 300px;
height: 260px;
padding: 30px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 115px;
}

.emotion-buttons {
  padding: 20px;

}

.emotion-table1 {
  float: right;
  margin-right: 210px;
}

.emotion-table2 {
  margin-left: 235px;

}

.myButton {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color:#599bb3;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color:#408c99;
  text-decoration: none;
}
.myButton:active {
  position:relative;
  top:1px;
  text-decoration: none;
}




/******* END Bar Code  ********/


/******* START Drink Code  ********/
.drink-font {
  text-align: center;
}

.drink-image {
  width: 30%;
}

.drink-section {
  text-align: center;
}

.ingredient-instructions-table {
  background-color: #a8a8a8;
  vertical-align: text-top;
  border: 2px solid black;
}

.drink-ingredients-section {
 padding: 20px; 
 vertical-align: text-top;
 text-align: center;
 border: 2px solid black;
 
}

.drink-instructions-section {
 padding: 20px;
 vertical-align: text-top;
 text-align: center;
 border: 2px solid black;


}

.drink-td {
  width: 50%;

}

.instruction-ingredients {
  text-align: center;
  display:block;

}

/* Start of Column CSS */
#container2 {
  clear:left;
  float:left;
  width:100%;
  overflow:hidden;
  background:#ffa7a7; /* column 2 background colour */
}
#container1 {
  float:left;
  width:100%;
  position:relative;
  right:50%;
  background:#fff689; /* column 1 background colour */
}
#col1 {
  float:left;
  width:46%;
  position:relative;
  left:52%;
  overflow:hidden;
}
#col2 {
  float:left;
  width:46%;
  position:relative;
  left:56%;
  overflow:hidden;
}

/******* END Drink Code  ********/




