/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */


body {
	padding-top:40px;
	background-color: #58595b;
  font-family: 'Anonymous Pro', sans-serif;
}

@font-face {
  font-family: BebasNeue;
  font-weight: bold;
  src: url("/types/bebas.otf");
}

.type-bebas {
  font-family: 'BebasNeue', sans-serif;
  letter-spacing: 3px;
}

.type-bebas-headline {
  font-family: 'BebasNeue', sans-serif;
  letter-spacing: 3px;
  font-size: 50px;
}

.type-news-cycle {
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 3px;
}

.type-news-cycle-space {
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 2px;
}

h2.type-news-cycle {
  font-size: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.type-anon-pro {
  font-family: 'Anonymous Pro', sans-serif;
}

.icon-img {
  width: 50px;
  margin-top: -15px;
}

.modal-body, .modal-header, .modal-footer {
  background-color: #801919 !important;
  color: white !important; 
}


/******* START Transparent Button Code  ********/

.btn-button-name, .btn-button-name:link, .btn-button-name:visited {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 2px solid white;
}
.btn-button-name:active, .btn-button-name:hover {
    background-color: #801919;
    color: #ffffff
}

.btn-button-name.btn-default {
    border: 3px solid white;
}
.btn-button-name.btn-sm {
    border: 2px solid white;
    margin-top: 8px;
    margin-right: 5px;
}  
.btn-button-name.btn-xs {
    border: 1px solid white;
}  

/******* END Transparent Button Code  ********/


/******* START NAVBAR Button Code  ********/

.nav-button-name, .nav-button-name:link, .nav-button-name:visited {
    background-color: transparent;
    border-radius: 0;
    color: white;
}
.nav-button-name:active, .nav-button-name:hover {
    background-color: #2d2d2d;
    color: #ffffff
}

.nav-button-name.nav-btn-sm {
    margin-top: 8px;
    margin-right: 5px;
}  

.nav-space{
  margin-top: 12px;
}

.nav-more-space {
  margin-top: 20px;
}

/******* END NAVBAR Button Code  ********/

/******* START Navbar Code  ********/

.navbar-default {
  background-color: #2d2d2d ;
  border-color: #808285;
}
.navbar-default .navbar-brand {
  color: #f8f9f9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffcccd;
}
.navbar-default .navbar-text {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffcccd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffcccd;
  background-color: #808285;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffcccd;
  background-color: #808285;
}
.navbar-default .navbar-toggle {
  border-color: #808285;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #808285;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8f9f9;
}
.navbar-default .navbar-link {
  color: #f8f9f9;
}
.navbar-default .navbar-link:hover {
  color: #ffcccd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffcccd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffcccd;
    background-color: #808285;
  }
}

/******* END Navbar Code  ********/




