/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

body {
	padding-top:40px;
	background-color: #655341;
}

/******* START Splash Code  ********/
.splash-font-h1 {
	text-align: center;
	color: #FFEBCD;
}

.splash-page {
    max-width: 100%;
    max-height: 100%;
    margin: auto 0;
}

.splash-center {
	text-align: center;
}

/******* END Splash Code  ********/

/******* START Transparent Button Code  ********/

.btn-button-name, .btn-button-name:link, .btn-button-name:visited {
    background-color: transparent;
    border-radius: 0;
    color: white;
    border: 2px solid white;
}
.btn-button-name:active, .btn-button-name:hover {
    background-color: #801919;
    color: #ffffff
}

.btn-button-name.btn-default {
    border: 3px solid white;
}
.btn-button-name.btn-sm {
    border: 2px solid white;
    margin-top: 8px;
}  
.btn-button-name.btn-xs {
    border: 1px solid white;
}  

/******* END Transparent Button Code  ********/


/******* START Navbar Code  ********/

.navbar-default {
  background-color: #4a0000;
  border-color: #6f160d;
}
.navbar-default .navbar-brand {
  color: #f8f9f9;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffcccd;
}
.navbar-default .navbar-text {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a {
  color: #f8f9f9;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffcccd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffcccd;
  background-color: #6f160d;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffcccd;
  background-color: #6f160d;
}
.navbar-default .navbar-toggle {
  border-color: #6f160d;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #6f160d;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8f9f9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8f9f9;
}
.navbar-default .navbar-link {
  color: #f8f9f9;
}
.navbar-default .navbar-link:hover {
  color: #ffcccd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8f9f9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffcccd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffcccd;
    background-color: #6f160d;
  }
}

/******* END Navbar Code  ********/



/******* START Bar Code  ********/
.bartender-img {
	max-width: 70%;
	max-height: 100%;
	float: right;
	padding-right: 80px;
}

.bar-font {
  text-align: center;
  color: #FFEBCD;
}

.emotion-section {
  background-color: black;
  text-align: center;
  padding: 50px;
}



.bubble-font {
	color: dark gray;
	font-size: 20px;
	font-family: helvetica;
	text-align: center;
	margin: 50px;
}

.bubble 
{
vertical-align: text-top;
position: relative;
width: 300px;
height: 260px;
padding: 30px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;

}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 115px;
}

.emotion-buttons {
  padding: 20px;

}

.emotion-table1 {
  float: right;
  margin-right: 200px;
}

.emotion-table2 {
  margin-left: 210px;

}

.myButton {
  -moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
  -webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Verdana;
  font-size:19px;
  padding:12px 37px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}
.myButton:active {
  position:relative;
  top:1px;
}



/******* END Bar Code  ********/


/******* START Drink Code  ********/
.drink-font {
  text-align: center;
}

.drink-image {
  width: 30%;
}

.drink-section {
  text-align: center;
}

.drink-ingredients-section {
  background-color: #4d4d4d;
}

.drink-instructions-section {
  background-color: #2F4F4F;
}

/******* END Drink Code  ********/




