/******* START Bar Code  ********/

.bartender-container {
	background-color: #58595b;
}

.bartender-img {
	width: 80%;
	margin-left: 11%;
}

.left-bartender {
	width: 100%;
	margin-top: -50px;
	margin-bottom: -90px;

}

.div-line {
	max-width: 100%;
	height: 10px;
	clear: both;
	background-color: #808285;
}


.right-bubble {
	background: white;
	display: none;
	position: relative;
	padding: 3%;
	border-radius: 15px;
	width: 80%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.right-bubble:after {
	content: "";
	display: block;
	position: absolute;

	width: 0;
	height: 0;

	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-top: 15px solid #ffffff;

	left: 155px;
	top: 80px;
}



.emotion-button-group {
	clear: both;
	background-color: #3E0609;
	margin: 0 auto;
}

.emotion-button{
	background-color: gray;
	border: 5px black solid;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	width: 100%;
	height: 50px;

	margin-top: 2%;
	margin-bottom: 2%;
}

.emotion-button:hover {
	background-color: white;
}

.emotion-button a{
	color: #212A55;
}

.emotion-button a:hover{
	text-decoration: none;


}

/** Overlay CSS **/

#bounce {
	background-color: #4a0000;
	border-radius: 10px;
	position:relative;
    margin-top:30%;
    margin-left: 3%;
    margin-right: 3%;
}

#overlay {
  background-color: #1a1a1a;
  width: 100%;
  height: 1200px;
  position: absolute;
  top: 0;
  left: 0;
  
}

#shaker-img {
	height: 80%;
	width: 50%;
	margin-top: 5%;
	margin-left: 25%;
}

.shaker-div {
	text-align: center;
	font-size: 20px;
	background-color: white;
}

/******* START Drink Code  ********/
.drink-image {
  width: 60%;
}

.animation {
    font-weight: bold;
    text-align: center;
  	padding: 1%;
	margin-left: auto;
	margin-right: auto;
    background-color: #4d4d4d;
    border-radius: 10px;
    -webkit-animation: glow 3s ease-in-out infinite;
    animation: glow 3s ease-in-out infinite;
    max-width: 100%;
    max-height: 50%;
  
}

@-webkit-keyframes glow 
{
  50% { box-shadow: 0 0 20px #aaf; }
}

@keyframes glow 
{
  50% { box-shadow: 0 0 20px #aaf; }
}

.recipe-button-group {
	clear: both;
	margin-left: auto;
	margin: right: auto;
	margin-top: 2%;
}

.recipe-button{
	background-color: gray;
	border: 5px black solid;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	width: 100%;
	height: 50px;

	margin-top: 1%;
	margin-bottom: 2%;
	color: #212A55;

}

.recipe-button:hover {
	background-color: white;
}

.recipe-button a{
	color: #212A55;
}

.recipe-button a:hover{
	text-decoration: none;

}

#recipe-container {
	color: white;
	margin-top: 3%;
	padding: 2%;
	overflow: hidden;


}

.left-ingredients, .right-instructions {
	padding: 2%;
	margin: 2%;
	font-size: 14px;
	background-color: #4a0000; /* fallback */
	background:
		linear-gradient(135deg, transparent 10px, #4a0000 0) top left,
		linear-gradient(225deg, transparent 10px, #4a0000 0) top right,
		linear-gradient(315deg, transparent 10px, #4a0000 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #4a0000 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}



/* Start of Column CSS */


@media screen and (min-width: 768px) {
	.bartender-img {
		width: 35%;
		margin-left: 55%;


	}

	.left-bartender {
		width: 70%;
		margin-top: -5%;
		margin-bottom: -88px;
		float: left;
	}



	.right-bubble {
		float: right;
		display: inline;
		width: 20%;
		height: auto;
		margin-top: 2%;
		margin-right: 10%;
	}

	.right-bubble:after {
		content: "";
	display: block;
	position: absolute;

	width: 0;
	height: 0;

	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 15px solid #ffffff;

	left: -22px;
	top: 70px;
	}

	.emotion-button {
		float: left;
		width: 22%;
		height: 15%;
		padding-top: 0%;
		margin-right: 1%;
		margin-left: 2%;

	}

	#bounce {
	background-color: #4a0000;
	border-radius: 10px;
	position:relative;
    height:40%;
    width:50%;
    margin-top:8%;
    margin-left: auto;
    margin-right: auto;
	}


	.drink-image {
	  width: 50%;
	}

	.animation {
	    max-width: 40%;
	    max-height: 50%;
	}

	.recipe-button-group {
		margin-left: 30%;
	}

	.recipe-button{
		width: 25%;
		height: 10%;
		float: left;
		margin-right: 6%;
		margin: left: 4%;

	}

	.left-ingredients, .right-instructions {
	float: left;
	width: 45%;

	}
	
	#recipe-container {
	margin-left: 2%;


	}



}






