/******* START Bar Code  ********/

.emotions-font {
	text-align: center;
	color: #FFEBCD;

}

.click-div {
	margin-top: 1%;
	text-align: center;
	font-weight: bold;
}

.click-span {
	background-color: white;
	padding: 5px;
	border: 2px black solid;

}

.bartender-container {
	background-color: #4d4d4d;
	border-radius: 5%;
	margin-left: 3%;
	margin-right: 3%;
}

.bartender-img {
	max-width: 100%;
	height: auto;
	padding-top: 0.5%;
	margin-left: 20%;
	
}

.left-bartender {
	width: 70%;
}

.right-bubble {
	background: white;
	display: none;
	position: relative;
	padding: 3%;
	border-radius: 15px;
	box-shadow:;
}

.right-bubble:after {
	content: "";
	display: block;
	position: absolute;

	width: 0;
	height: 0;

	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 15px solid #ffffff;

	left: 150px;
	top: -15px;
}

.emotion-button-group {
	clear: both;
	background-color: teal;
	margin: 0 auto;
}

.emotion-button{
	background-color: gray;
	color: #000080;
	border: 5px black solid;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	width: 100%;
	height: 50px;

	margin-top: 2%;
	margin-bottom: 2%;
}

.emotion-button:hover {
	background-color: white;
}

.emotion-button a{
	color: #3B3178;
}

.emotion-button a:hover{
	text-decoration: none;

}

/** Overlay CSS **/

#bounce {
	background-color: teal;
	border-radius: 10px;
	position:relative;
    height:40%;
    width:50%;
    margin-top:8%;
    margin-left: auto;
    margin-right: auto;
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 1200px;
  position: absolute;
  top: 0;
  left: 0;
  
}

#shaker-img {
	height: 80%;
	width: 50%;
	margin-top: 5%;
	margin-left: 25%;
}

.shaker-div {
	text-align: center;
	font-size: 20px;
	background-color: white;
}

@media screen and (min-width: 768px) {
	.bartender-img {
		max-width: 60%;
		margin-left: 40%;
	}

	.left-bartender {
		padding-left: auto;
		float: left;
	}

	.right-bubble {
	float: right;
	width: 30%;
	height: auto;
	margin-top: 10%;

	}

	.right-bubble:after {
		content: "";
	display: block;
	position: absolute;

	width: 0;
	height: 0;

	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 15px solid #ffffff;

	left: -23px;
	top: 15px;
	}

	.emotion-button {
		float: left;
		width: 22%;
		height: 15%;
		padding-top: 0%;
		margin-right: 1%;
		margin-left: 2%;

	}


}




/******* END Bar Code  ********/