/******* START Bar Code  ********/

.bartender-container {
	background-color: #58595b;
}

.bartender-img {
	width: 80%;
	margin-left: 11%;
}

.left-bartender {
	width: 100%;
	margin-top: -50px;
	margin-bottom: -90px;

}

.div-line {
	max-width: 100%;
	height: 10px;
	clear: both;
	background-color: #808285;
}


.right-bubble {
	background: white;
	display: none;
	position: relative;
	padding: 2%;
	border-radius: 15px;
	width: 80%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.right-bubble:after {
	content: "";
	display: block;
	position: absolute;

	width: 0;
	height: 0;

	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-top: 15px solid #ffffff;

	left: 155px;
	top: 95px;
}



.emotion-button-group {
	clear: both;
	margin: 0 auto;
}

.emotion-button{
	background-color: #ece5db;
	font-family: 'BebasNeue', sans-serif;
  	letter-spacing: 3px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	display: inline-block;

	line-height: 90%;
	font-size: 40px;
	width: 41%;
	height: 120px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 10px;
	padding-right: 1%;
	padding-left: 1%;




}

.emotion-button:hover {
	background-color: #801919;
}

.emotion-button a{
	color: black;
}

.emotion-button a:hover{
	text-decoration: none;


}

/** Overlay CSS **/

#bounce {
	position:relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}

#overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 1500px;
  position: absolute;
  top: 0;
  left: 0;
  
}

#shaker-img {
	max-width: 50%;
	margin-left: 27%;
}

.shaker-div {
	text-align: center;
	font-size: 18px;
	background-color: #ece5db;
	font-weight: bold;
	border-radius: 5px;
	max-width: 90%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	padding-top: 3%;
}

/******* START Drink Code  ********/
.drink-image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  
}

img.drink-image {
	vertical-align: top;
	top: 0px;
}

.drinks-container {
    max-width: 50%;
    margin-left: 25%;
    margin-top: 2%;

}

.emotions-font {
	display: none;
	color: #ece5db;
	text-align: center;
	font-size: 40px;
	margin-top: 0%;
	margin-bottom: 2%;
	margin-left: auto;
	margin-right: auto;
}


#recipe-container {
	overflow: hidden;
	margin-top: -1%;
}

.left-ingredients, .right-instructions {
	padding: 2%;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 3%;
	font-size: 14px;
	background-color: #ece5db; /* fallback */
	background:
		linear-gradient(135deg, transparent 10px, #ece5db 0) top left,
		linear-gradient(225deg, transparent 10px, #ece5db 0) top right,
		linear-gradient(315deg, transparent 10px, #ece5db 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #ece5db 0) bottom left;
	background-size: 75% 75%;
	background-repeat: no-repeat;
}

.recipe-button {
	text-align: center;
	background-color: transparent; 
	border-radius: 2%;
	border: 5px solid white;
	height: 50px;
	width: 40%;
	padding: 2%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 3%;

}

.recipe-button a {
	font-weight: bold;
	font-size: 20px;
	color: black;

}

.recipe-button:hover {
	background-color: #801919;
}

.recipe-button a {
	color: white;
}

.recipe-button a:hover,  .recipe-button a:active{
	text-decoration: none;
}


#player{
	margin-left: 5%;
	display: none;

}

.video-player{
	width: 95%;
	height: 300px;
}



/* Start of Column CSS */


@media screen and (min-width: 768px) {
	.bartender-img {
		width: 40%;
		margin-left: 65%;


	}

	.left-bartender {
		width: 60%;
		margin-top: -5%;
		margin-bottom: -88px;
		float: left;
	}



	.right-bubble {
		float: right;
		display: hidden;
		width: 20%;
		height: auto;
		margin-top: 2%;
		margin-right: 20%;
		padding: 2%;
	}

	.right-bubble:after {
			content: "";
		display: block;
		position: absolute;

		width: 0;
		height: 0;

		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-right: 15px solid #ffffff;

		left: -22px;
		top: 70px;
	}

	.emotion-button-group{
		width: 80%;
		margin-top: 20px;
		padding-left: 10%;
		
	}

	.emotion-button {
		float: left;
		font-size: 40px;
		width: 20%;
		margin: 10px;
	}


	#bounce {
		position:relative;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 8%;
	}



	#shaker-img {
		max-width: 20%;
		margin-left: 40%;
	}

	.shaker-div {
		text-align: center;
		font-size: 20px;
		background-color: #ece5db;
		font-weight: bold;
		border-radius: 5px;
		max-width: 30%;
		height: 50px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2%;
		padding-top: 1%;
	}

	.drink-image {
	  width: 40%;
	  margin-left: 30%;
	  
	}

	.left-ingredients, .right-instructions {
		float: left;
		width: 30%;
		margin-left: 1%;
		margin-right: 1%;

	}

	#recipe-container {
		padding-left: 27%;


	}

	.recipe-button {
	width: 25%;
	padding-top: 6px;
	margin-top: 1%;
	margin-right: 2%;
	float: left;
	}

	.recipe-button-area{
	margin-left: 33%

	}

	#player{
	margin-left: 25%;
	display: none;

	}

	.video-player{
		width: 640px;
		height: 360px;
	}




}






