/******* START Bar Code  ********/

.emotions-font {
	text-align: center;
	color: #FFEBCD;

}

.larger-font {
	font-size: 50px;
}

.click-div {
	margin-top: 1%;
	text-align: center;
	font-weight: bold;
}

.click-span {
	background-color: white;
	padding: 5px;
	border: 2px black solid;

}

.bartender-container {
	background-color: #4d4d4d;
	border-radius: 5%;
	margin-left: 3%;
	margin-right: 3%;
}

.bartender-img {
	max-width: 100%;
	height: auto;
	padding-top: 0.5%;
	margin-left: 20%;
	
}

.left-bartender {
	width: 70%;
}

.right-bubble {
	background: white;
	display: none;
	position: relative;
	padding: 2%;
	border-radius: 15px;
	box-shadow:;
}

.right-bubble:after {
	content: "";
	display: block;
	position: absolute;

	width: 0;
	height: 0;

	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
	border-bottom: 15px solid #ffffff;

	left: 150px;
	top: -15px;
}

.emotion-button-group {
	clear: both;
	background-color: #3E0609;
	margin: 0 auto;
}

.emotion-button{
	background-color: gray;
	border: 5px black solid;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	width: 100%;
	height: 50px;

	margin-top: 2%;
	margin-bottom: 2%;
}

.emotion-button:hover {
	background-color: white;
}

.emotion-button a{
	color: #212A55;
}

.emotion-button a:hover{
	text-decoration: none;

}

/** Overlay CSS **/

#bounce {
	background-color: #4a0000;
	border-radius: 10px;
	position:relative;
    margin-top:30%;
}

#overlay {
  background-color: #1a1a1a;
  width: 100%;
  height: 1200px;
  position: absolute;
  top: 0;
  left: 0;
  
}

#shaker-img {
	height: 80%;
	width: 50%;
	margin-top: 5%;
	margin-left: 25%;
}

.shaker-div {
	text-align: center;
	font-size: 20px;
	background-color: white;
}

/******* START Drink Code  ********/
.drink-image {
  width: 60%;
}

.animation {
    font-weight: bold;
    text-align: center;
  	padding: 1%;
	margin-left: auto;
	margin-right: auto;
    background-color: #4d4d4d;
    border-radius: 10px;
    -webkit-animation: glow 3s ease-in-out infinite;
    animation: glow 3s ease-in-out infinite;
    max-width: 100%;
    max-height: 50%;
  
}

@-webkit-keyframes glow 
{
  50% { box-shadow: 0 0 20px #aaf; }
}

@keyframes glow 
{
  50% { box-shadow: 0 0 20px #aaf; }
}

.recipe-button-group {
	clear: both;
	margin-left: auto;
	margin: right: auto;
	margin-top: 2%;
}

.recipe-button{
	background-color: gray;
	border: 5px black solid;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	width: 100%;
	height: 50px;

	margin-top: 1%;
	margin-bottom: 2%;
	color: #212A55;

}

.recipe-button:hover {
	background-color: white;
}

.recipe-button a{
	color: #212A55;
}

.recipe-button a:hover{
	text-decoration: none;

}


@media screen and (min-width: 768px) {
	.drink-image {
	  width: 50%;
	}

	.animation {
	    max-width: 40%;
	    max-height: 50%;
	}

	.recipe-button-group {
		margin-left: 31%;
	}

	.recipe-button{
		width: 25%;
		height: 10%;
		float: left;
		margin-right: 3%;
		margin: left: 5%;

	}
	

	.bartender-img {
		max-width: 60%;
		margin-left: 40%;
	}

	.left-bartender {
		padding-left: auto;
		float: left;

	}

	.right-bubble {
	float: right;
	width: 30%;
	height: auto;
	margin-top: 10%;
	

	}

	.right-bubble:after {
		content: "";
	display: block;
	position: absolute;

	width: 0;
	height: 0;

	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 15px solid #ffffff;

	left: -23px;
	top: 15px;
	}

	.emotion-button {
		float: left;
		width: 22%;
		height: 15%;
		padding-top: 0%;
		margin-right: 1%;
		margin-left: 2%;

	}

	#bounce {
	background-color: #4a0000;
	border-radius: 10px;
	position:relative;
    height:40%;
    width:50%;
    margin-top:8%;
    margin-left: auto;
    margin-right: auto;
	}





}






