/******* START Splash Code  ********/

.splash-font-h1, {
	text-align: center;
	color: #FFEBCD;
}

.logo-img{
	width: 100%;
}

.neg-margin {
	margin-top: -35px;
}

h2.type-news-cycle {
  font-size: 16px;
}

.splash-center {
	text-align: center;
	color: white;
	padding: 1%;
}

.splash-font-h1 {
	font-size: 50px;
}

.splash-img {
 	max-width: 100%;
    margin: auto 0;
}

.splash-img-left {
	max-width: 100%;
}

.splash-img-right {
	max-width: 100%;
	display: none;

}

.splash-login-area {
	max-width: 100%;
	margin-top: 5%; 

}

.get-started {
	text-align: center;
	background-color: transparent; 
	width: 300px;
	height: 100px;
	border-radius: 2%;
	border: 5px solid white;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin: right: auto;
	padding: 2%;
}

.get-started:hover {
	background-color: #801919;
}

.get-started a {
	color: white;
}

.get-started a:hover,  .get-started a:active{
	text-decoration: none;
}




@media screen and (min-width: 768px) {
	.logo-img{
		width: 36%;

	}

	h2.type-news-cycle {
	  font-size: 20px;
	}

	.splash-img-left {
		float: left;
		width: 50%;
		display: inline;
	}

	.splash-img-right {
	 	float:right;
		width: 50%;
		display: inline;

	}

	.splash-center {
		text-align: center;
		color: white;
		padding: 1%;
	}

	.splash-login-area {
		max-width: 100%;
		margin-top: 5%; 

	}

	.get-started {
	margin-top: 1%;
	margin-left: auto;
	margin: right: auto;
	padding: 1%;
	}

}




/******* END Splash Code  ********/