.fav-head-font {
	text-align: center;
	color: #FFEBCD;

}

.fav-drink-container {
	margin: 1%;
	padding-left: 15%;
}


.fav-drinks {
	background-color: #2d2d2d;
	width: 80%;
	height: 275px;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
	margin-right: 2%;

}

.fav-img {
	text-align: center;

}

.fav-drinks:hover{
	background-color: #801919;
}


.fav-drink-image {
	width: 60%;

}

.fav-name{
	text-align: center;
}

.fav-name-font {
	color: #ece5db;
	text-align: center;
	font-size: 35px;
	margin-top: 0%;
	margin-bottom: 2%;
}

.fav-name-font:hover {
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.fav-drinks {
		float: left;
		width: 25%;
	}

	.fav-drink-image {
		width: 50%;
	}

	.fav-drink-container {
		margin-left: 10%;
		padding-left: 5%;
	}





}