.fav-head-font {
	text-align: center;
	color: #FFEBCD;

}

.fav-drink-image {
	max-width: 60%;

}

.drinks-container {
	
}

.fav-name {
	text-align: center;
	background-color: teal;
	margin-top: 3%;
}

.fav-name-font {
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #2a2a2a;

}
.fav-name-font:hover {
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #2a2a2a;

}

.fav-img {
	background-color: black;
	padding-left: 30%;

}

.drink-container {
	background-color: gray;
	margin: 3%;
	padding: 1%;
}

@media screen and (min-width: 768px) {
	.fav-drink-image {
	
	}

	.drink-container {
		float: left;
		max-width: 25%;

	}

}